php_flag allow_url_include on
php_flag output_buffering on

RewriteEngine on

ReWriteRule ^$ index.php?sPage=Home [NC]

ReWriteRule ^Home$ index.php?sPage=Home [NC]

ReWriteRule ^Funcionario$ index.php?sPage=Funcionario [NC]
ReWriteRule ^FuncionarioForm/(.*)$ index.php?sPage=FuncionarioForm&iFuncionarioId=$1

ReWriteRule ^Cartao$ index.php?sPage=Cartao [NC]
ReWriteRule ^CartaoForm/(.*)$ index.php?sPage=CartaoForm&iCartaoId=$1

ReWriteRule ^Operadora$ index.php?sPage=Operadora [NC]
ReWriteRule ^OperadoraForm/(.*)$ index.php?sPage=OperadoraForm&iOperadoraId=$1

ReWriteRule ^Blog$ index.php?sPage=Blog [NC]