php_flag allow_url_include on
php_flag output_buffering on

RewriteEngine on

ReWriteRule ^$ index.php?sPage=Home [NC]

ReWriteRule ^Home$ index.php?sPage=Home [NC]

ReWriteRule ^Material$ index.php?sPage=Material [NC]
ReWriteRule ^MaterialForm/(.*)$ index.php?sPage=MaterialForm&iId=$1

ReWriteRule ^Venda$ index.php?sPage=Venda [NC]